
<div class="w-full bg-white p-9 gap-16 mb-10 rounded-xl border border-1 border-gray-300 mt-10 xl:grid flex flex-col-reverse grid-cols-[1fr_310px]">
  <div class="xl:grid grid-rows-[64px_1fr] gap-6 flex flex-col">
    <div class="lg:grid flex flex-col grid-cols-[auto_1fr_auto] gap-2 lg:gap-5">
      <p-avatar class="rounded-lg mx-auto md-mx-0 overflow-hidden h-[64px]" image="https://api.dicebear.com/9.x/thumbs/svg?seed={{ getCurrentUser().username }}" size="xlarge"/>

      <div class="flex min-w-[200px] flex-col mb-5 lg:mb-0 mx-auto md-mx-0 text-center lg:text-start justify-between py-1 w-full">
        <span class="text-xl  font-semibold">{{ getCurrentUser().name + ' ' + getCurrentUser().surname }}</span>
        <span class="text-md text-gray-800 font-semibold">{{ getCurrentUser().username}}</span>
      </div>

      <div class="grid sm:grid-cols-4 xl:hidden gap-7 sm:gap-2">
        <div class="w-full bg-green-50 rounded-lg relative border border-1 border-green-600 flex gap-2 justify-center items-center flex-col p-2">
          <span class="text-sm font-semibold text-gray-900 bg-white absolute -top-3 truncate">Has aportado:</span>
          <span class="text-lg font-extrabold text-green-600">{{ userTotalContributions }} €</span>
        </div>

        <div class="p-2 border justify-center relative text-gray-900 flex-col text-center border-1 border-gray-400 flex rounded-lg gap-2 items-center text-sm font-semibold">
          <i class="pi pi-bell text-md bg-white p-1 absolute pt-0 -top-3"></i>
          <span>{{ userUpcomingEvents }} {{ userUpcomingEvents === 1 ? 'evento programado' : 'eventos programados' }}</span>
        </div>

        <div class="p-2 border border-1 flex-col relative justify-center text-gray-900 border-gray-400 text-center flex rounded-lg gap-2 items-center text-sm font-semibold">
          <i class="pi pi-calendar text-md absolute -top-3 pt-0 bg-white p-1"></i>
          <span>{{ userAssistedEvents }} {{ userAssistedEvents === 1 ? 'evento asistido' : 'eventos asistidos' }}</span>
        </div>

        <div class="p-2 border border-1 flex-col  relative justify-center text-gray-900 text-center border-gray-400 flex rounded-lg gap-2 items-center text-sm font-semibold">
          <i class="pi pi-map text-md absolute -top-3 pt-0 bg-white p-1"></i>
          <span>1 evento creado</span>
        </div>
      </div>

    </div>

    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex text-sm items-center gap-2 ">
            <i class="pi pi-ticket"></i>
            <span>Historial</span>
          </div>
        </ng-template>
        <div *ngIf="usersBoughtTickets.length != 0">
          <p-table
            [value]="usersBoughtTickets"
            [paginator]="true"
            [rows]="5"
            [tableStyle]="{ 'min-width': '48rem' }"
            responsiveLayout="stack"
            breakpoint="960px"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
              <tr class="text-semibold">
                <th class="bg-white p-3 font-bold ps-5" style="width:40%">Evento</th>
                <th class="bg-white p-3 font-bold text-center" style="width:13%">Cantidad</th>
                <th class="bg-white p-3 font-bold text-center" style="width:15%">Precio</th>
                <th class="bg-white p-3 font-bold text-center" style="width:17%">Comprado</th>
                <th class="bg-white p-3 font-bold text-center" style="width:15%">Estado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
              <tr>
                <td class="overflow-hidden">
                  <div class="w-ful flex hover:bg-gray-100 p-2 px-4 gap-3 cursor-pointer rounded-lg items-center" routerLink="/event/{{ticket.idEvent}}" *ngIf="getEvent(ticket.idEvent).id">
                    <i class="pi pi-calendar"></i>
                    <span class="truncate">{{ getEvent(ticket.idEvent).name }}</span>
                  </div>

                  <div class="w-ful flex  p-2 px-4 gap-3 rounded-lg items-center" *ngIf="!getEvent(ticket.idEvent).id">
                    <i class="pi pi-times"></i>
                    <span class="truncate">Evento no encontrado</span>
                  </div>
                </td>
                <td class="text-center">{{ ticket.amount }}</td>
                <td class="text-center font-semibold">{{ ticket.price }} €</td>
                <td class="text-center">{{ moment(ticket.purchaseDate).format('DD/MM/YYYY') }}</td>
                <td class="text-center">
                  <span class="text-sm font-semibold" *ngIf="returnEventStatus(ticket.idEvent) == 0">Error</span>
                  <p-tag severity="success" value="Próximo" *ngIf="returnEventStatus(ticket.idEvent) == 1"></p-tag>
                  <p-tag severity="info" value="En curso" *ngIf="returnEventStatus(ticket.idEvent) == 2"></p-tag>
                  <p-tag severity="danger" value="Finalizado" *ngIf="returnEventStatus(ticket.idEvent) == 3"></p-tag>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <div *ngIf="!ticketsLoaded" class="p-5 flex justify-center">
          <p-progressSpinner ariaLabel="Cargando eventos"></p-progressSpinner>
        </div>

        <div *ngIf="usersBoughtTickets.length == 0 && ticketsLoaded" class="p-2 pt-0 justify-center flex flex-col md:flex-row items-center gap-5">
          <img src="/gg-people-searching-event.png" alt="No se han encontrado eventos" class="md:w-1/2 w-full max-h-96 max-w-96" />
          <div class="flex flex-col items-center gap-5">
            <span class="text-gray-700 text-xl gap-5 text-center">No has comprado ninguna entrada</span>
            <p-button label="Explorar eventos" routerLink="/" class="p-button-outlined"></p-button>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel *ngIf="eventsCreatedByUser.length != 0">
        <ng-template pTemplate="header">
          <div class="flex text-sm items-center gap-2 ">
            <i class="pi pi-calendar"></i>
            <span>Mis eventos</span>
          </div>
        </ng-template>

        <div class="flex flex-col gap-20">
          <div *ngFor="let event of paginatedEventsCreatedByUser" class="flex justify-center flex-col items-center w-full">
            <app-event  [event]="event" class="delete-border-radius-bottom-of-child sm:min-w-[320px] w-full sm:w-auto md:w-full" (onBuyButtonClicked)="showInfoTicketButtonMessage()"></app-event>
            <div class="w-full grid grid-cols-1 rounded-xl pt-5 md:rounded-t-none lg:grid-cols-3 bg-green-500 p-5 rounded-b-xl gap-7 lg:gap-20">
              <div class="rounded-xl bg-white h-full p-4 flex flex-col justify-around items-center gap-4 text-center w-full">
                <div class="flex flex-col justify-center items-center">
                  <span class="text-gray-800 font-bold text-4xl">#{{ getEventFundPositionOnCause(event) }}</span>
                  <span class="text-gray-800 font-semibold text-xl">recaudación</span>
                </div>

                <a class="text-gray-700 text-md underline break-all" routerLink="/cause/{{ event.idCause }}">{{ getCause(event.idCause).name}}</a>
              </div>

              <div class="rounded-xl bg-white h-full p-4 flex flex-col justify-center items-center gap-4 text-center w-full">
                <span class="text-gray-800 font-bold text-4xl">{{calculatePercentage(event.boughtTickets, event.capacity)}}%</span>

                <span class="text-gray-800 font-semibold text-lg">Entradas vendidas</span>
              </div>

              <div class="rounded-xl bg-white h-full p-4 flex flex-col justify-center items-center gap-4 text-center w-full">
                <span class="text-gray-800 font-bold text-3xl">{{ event.boughtTickets * event.ticketPrice }} €</span>

                <span class="text-gray-800 font-semibold text-lg">Dinero recaudado</span>
              </div>
            </div>
          </div>
        </div>

        <p-paginator
          *ngIf="eventsCreatedByUser.length > 5"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="eventsCreatedByUser.length"
          [showCurrentPageReport]="true"
          [showPageLinks]="true"
          [showJumpToPageDropdown]="false"
          styleClass="mt-8"
          currentPageReportTemplate="{currentPage} de {totalPages} páginas"/>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="xl:flex hidden flex-col gap-5">
    <div class="w-full bg-green-50 rounded-lg border border-1 border-green-600 flex gap-5 justify-between pb-10 items-center flex-col p-5">
      <span class="text-xl font-semibold text-gray-900">Tu ayuda total es de:</span>
      <span class="text-4xl font-extrabold text-green-600">{{ userTotalContributions }} €</span>
    </div>

    <div class="p-4 border text-gray-900 border-1 border-gray-400 w-full flex rounded-lg gap-4 items-center text-md font-semibold">
      <i class="pi pi-bell text-xl"></i>
      <span>Tienes {{ userUpcomingEvents }} {{ userUpcomingEvents === 1 ? 'evento programado' : 'eventos programados' }}</span>
    </div>

    <div class="p-4 border border-1 text-gray-900 border-gray-400 w-full flex rounded-lg gap-4 items-center text-md font-semibold">
      <i class="pi pi-calendar text-xl"></i>
      <span>Has asistido a {{ userAssistedEvents }} {{ userAssistedEvents === 1 ? 'evento' : 'eventos' }}</span>
    </div>

    <div class="p-4 border border-1 text-gray-900 border-gray-400 w-full flex rounded-lg gap-4 items-center text-md font-semibold">
      <i class="pi pi-map text-xl"></i>
      <span>Has creado 0 eventos</span>
    </div>
  </div>
</div>
<p-toast></p-toast>
