<div class="w-full justify-center align-middle items-center flex flex-col gap-16">
  <div class="w-fit p-4 pb-1 bg-white rounded-lg justify-center align-middle border border-1 border-gray-300">
    <h4 class="w-full text-center text-xl font-semibold">Elige Tu Aventura</h4>
    <div class="gap-16 flex sm:flex-row p-6 text-xl flex-wrap align-middle items-center justify-center">
      <div class="flex flex-col text-center gap-3 p-4 rounded-xl cursor-pointer max-w-36 min-w-36"
           [ngClass]="{'bg-green-500': activeFilter === 'cheapest', 'hover:bg-green-50': activeFilter !== 'cheapest'}"
           (click)="onCheapestClick(searchInput)">
        <i class="pi pi-wallet text-6xl"
           [ngClass]="{'text-white': activeFilter === 'cheapest', 'text-green-600': activeFilter !== 'cheapest'}"></i>
        <h4 class="font-semibold"
            [ngClass]="{'text-white': activeFilter === 'cheapest', 'text-green-600': activeFilter !== 'cheapest'}">Más barato</h4>
      </div>
      <div class="flex flex-col text-center gap-3 p-4 rounded-xl cursor-pointer max-w-36 min-w-36"
           [ngClass]="{'bg-green-500': activeFilter === 'popular', 'hover:bg-green-50': activeFilter !== 'popular'}"
           (click)="onPopularClick(searchInput)">
        <i class="pi pi-user text-6xl"
           [ngClass]="{'text-white': activeFilter === 'popular', 'text-green-600': activeFilter !== 'popular'}"></i>
        <h4 class="font-semibold"
            [ngClass]="{'text-white': activeFilter === 'popular', 'text-green-600': activeFilter !== 'popular'}">Populares</h4>
      </div>
      <div class="flex flex-col text-center gap-3 p-4 rounded-xl cursor-pointer max-w-36 min-w-36"
           [ngClass]="{'bg-green-500': activeFilter === 'recent', 'hover:bg-green-50': activeFilter !== 'recent'}"
           (click)="onRecentClick(searchInput)">
        <i class="pi pi-clock text-6xl"
           [ngClass]="{'text-white': activeFilter === 'recent', 'text-green-600': activeFilter !== 'recent'}"></i>
        <h4 class="font-semibold"
            [ngClass]="{'text-white': activeFilter === 'recent', 'text-green-600': activeFilter !== 'recent'}">Próximos</h4>
      </div>
    </div>

  </div>
  <div class="w-full p-4 bg-white rounded-2xl flex sm:flex-col  align-middle justify-center flex-col sm:gap-5 gap-5 items-center  border border-1 border-gray-300">
    <div class="w-full p-4 bg-white rounded-2xl flex sm:flex-row  align-middle justify-center flex-col  items-center gap-6 sm:gap-0">
      <div class="w-full flex flex-row align-middle justify-end items-center">
        <p-iconField iconPosition="left" class="w-11/12">
          <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
          <input
            #searchInput
            type="text"
            pInputText
            placeholder="Buscar evento"
            class="rounded w-full"
            (input)="onSearch(searchInput.value)" />
        </p-iconField>
      </div>
      <div class="sm:w-1/3 w-full flex justify-center">
        <p-button
          label="Filtrar"
          icon="pi pi-sliders-v"
          severity="secondary"
          [loading]="loading"
          class="p-button-rounded"
          (onClick)="toggleOverlay($event)"
          [badge]="activeFilters > 0 ? activeFilters.toString() : undefined"
          badgeClass="text-gray-600">
        </p-button>
        <p-overlayPanel #overlay styleClass="rounded-xl shadow-xl">
          <div class="flex flex-col gap-10 p-3 align-middle items-center pb-8">
            <div class="flex flex-col gap-3 align-middle items-center">
              <label class="font-semibold text-xl">Rango de búsqueda</label>
              <div class="flex gap-3 sm:flex-row flex-col">
                <p-selectButton
                  [options]="stateOptions"
                  [(ngModel)]="value"
                  optionLabel="label"
                  optionValue="value"
                  (ngModelChange)="onSelectChange()">
                </p-selectButton>
              </div>
            </div>
            <div class="flex flex-col gap-3 align-middle items-center">
              <label class="font-semibold text-xl">Precio</label>
              <div class="flex sm:flex-row flex-col">
                <div class="flex flex-col gap-5">
                  <div class="flex gap-3">
                    <p-inputNumber
                      class="w-24"
                      inputStyleClass = "w-24"
                      styleClass="w-24"
                      [(ngModel)]="rangeValues[0]"
                      mode="currency"
                      inputId="min-price"
                      currency="EUR"
                      locale="de-DE"
                      (ngModelChange)="onRangeChange()"
                    ></p-inputNumber>
                    <p-inputNumber
                      class="w-24"
                      inputStyleClass = "w-24"
                      styleClass="w-24"
                      [max]="1000"
                      [(ngModel)]="rangeValues[1]"
                      mode="currency"
                      inputId="max-price"
                      currency="EUR"
                      locale="de-DE"
                      (ngModelChange)="onRangeChange()"
                    ></p-inputNumber>
                  </div>

                  <p-slider
                    [(ngModel)]="rangeValues"
                    [range]="true"
                    class="w-full"
                    (onChange)="onRangeChange()"
                  ></p-slider>
                </div>

              </div>
            </div>
          </div>
        </p-overlayPanel>
      </div>

    </div>
    <div *ngIf="loadingData" class="flex justify-center items-center p-10">
      <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>

    <div *ngIf="!loadingData" class="flex w-full flex-col gap-5">
      <div *ngFor="let cause of paginatedCauses" class="flex w-full gap-5 flex-col sm:flex-row">
        <!-- Causa -->
        <div class="flex w-full sm:w-1/3 justify-center items-center">
          <app-cause [cause]="cause"></app-cause>
        </div>

        <!-- Eventos -->
        <div class="flex flex-col w-full gap-3 p-5 items-center">
          <div class="flex flex-col sm:w-full gap-10 sm:gap-4 mb-28 sm:mb-0" *ngIf="filteredGroupedEvents[cause.id]?.length">
            <app-event *ngFor="let event of filteredGroupedEvents[cause.id]" [event]="event"></app-event>
          </div>
          <div class="text-center text-gray-500" *ngIf="!filteredGroupedEvents[cause.id]?.length">
            <p>No hay eventos disponibles para esta causa.</p>
          </div>
        </div>
      </div>

      <div class="card flex justify-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="10"
          [totalRecords]="totalRecords">
        </p-paginator>
      </div>
    </div>

  </div>

</div>
<p-toast></p-toast>
