<div class="flex flex-col w-full items-center">
  <div class="flex flex-col md:flex-row bg-white gap-5 rounded-lg p-5 w-full max-w-[1100px] mt-10">
    <div class="flex justify-center w-full md:max-w-64 p-5">
      <img class="rounded-2xl w-full md:min-w-[216px] max-w-[300px]" src="{{ cause.image }}" alt="Imagen de la causa" (error)="onImageError($event)">
    </div>
    <div class="flex flex-col m-5 justify-between items-center md:items-start gap-5">
      <label class="text-4xl pt-0 md:pt-5 font-semibold text-gray-800 text-center">{{ cause.name }}</label>
      <div class="flex gap-3 flex-wrap justify-center">
        <div class="flex items-center bg-green-500 text-white p-1 ps-3 pe-3 gap-3 rounded-lg">
          <i class="pi pi-money-bill text-xl"></i>
          <label class="font-semibold"> {{ totalfunds }} € recaudados </label>
        </div>
        <div class="flex items-center bg-gray-200 text-gray-700 p-1 ps-3 pe-3 gap-3 rounded-lg">
          <i class="pi pi-calendar text-xl"></i>
          <label class="font-semibold"> {{ totalEvents }} eventos </label>
        </div>
        <div class="flex items-center bg-gray-200 text-gray-700 p-1 ps-3 pe-3 gap-3 rounded-lg">
          <i class="pi pi-users text-xl"></i>
          <label class="font-semibold"> {{ totalDonors }} contribuidores</label>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 bg-white rounded-lg p-5 gap-5 w-full max-w-[900px] mt-10">
    <div class="flex items-center text-green-500 p-5 justify-center gap-5 w-full rounded-lg hover:bg-green-100 cursor-pointer">
      <i class="pi pi-map-marker text-4xl"></i>
      <label class="font-semibold text-xl cursor-pointer">Cerca de tí</label>
    </div>
    <div class="flex items-center text-green-500 p-5 gap-5 justify-center w-full rounded-lg hover:bg-green-100 cursor-pointer">
      <i class="pi pi-users text-4xl"></i>
      <label class="font-semibold text-xl cursor-pointer">Populares</label>
    </div>
    <div class="flex items-center text-green-500 p-5 justify-center gap-5 w-full rounded-lg hover:bg-green-100 cursor-pointer">
      <i class="pi pi-money-bill text-4xl"></i>
      <label class="font-semibold text-xl cursor-pointer">Más baratos</label>
    </div>
  </div>
  <div class="flex flex-col gap-5 rounded-lg p-5 w-full max-w-[1100px] mt-10">
    <div *ngFor="let event of events" class="flex flex-col sm:w-full w-full gap-10 sm:gap-4 sm:mb-0 items-center">
      <app-event class="w-full sm:w-auto md:w-full" [event]="event"></app-event>
    </div>
  </div>
</div>
