<div class="card fixed w-full top-0 z-20">
  <div class="relative">
    <img src="/gg-vine.png" class="absolute h-[60px] z-30 top-[45px] left-[-30px] pointer-events-none" alt="Vine">
    <img src="/gg-vine.png" class="absolute h-[60px] z-30 top-[45px] right-[-30px] scale-x-[-1] pointer-events-none" alt="Vine">
  </div>

  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a class="flex items-center gap-3 me-3 ms-2" [routerLink]="['/']">
        <img src="/gg-logo-image.jpg" alt="GoodGather Logo" class="w-[50px] rounded-full border border-1 border-gray-300">
        <img src="/gg-logo-title.png" alt="GoodGather Title" class="h-[32px] hidden sm:block">
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <a [routerLink]="['/profile']">
        <p-avatar icon="pi pi-user" size="large" class="me-3"></p-avatar>
      </a>
    </ng-template>
  </p-menubar>
</div>
<span class="block h-16"></span>
