<div class="max-w-[500px] mt-5 bg-white flex-col p-5 items-center border border-1 border-gray-300 w-full rounded-xl shadow flex ml-auto me-auto" *ngIf="show">
  <img src="/gg-error-word.png" class="w-60" alt="error word" />
  <h2 class="text-xl m-0 text-center p-3 font-bold text-green-600">{{ error }}</h2>
  <div class="mt-8 flex gap-3 flex-wrap justify-center">
    <p-button [label]="getSecondaryButtonText()" [outlined]="true" (onClick)="secondaryButtonAction()"></p-button>
    <p-button [label]="getPrimaryButtonText()" (click)="primaryButtonAction()"></p-button>
  </div>
</div>
