<div class="card flex my-6 justify-center">
  <div>
    <p-selectButton
      [options]="stateOptions"
      [(ngModel)]="activeForm"
      optionLabel="label"
      optionValue="value"
      allowEmpty="false"
      class="p-selectbutton w-full">
    </p-selectButton>
  </div>
</div>

<div class="mt-5 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">
    <div class="flex flex-col items-center p-4" *ngIf="activeForm=='login'">
      <h2 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-800">Inicio de Sesión</h2>
      <h2 class="mb-9 text-center text-l font-bold tracking-tight text-gray-600">¡Bienvendido de vuelta!</h2>
      <div class="w-full space-y-4">
        <div class="flex flex-col">
          <label for="login-username" class="block text-m font-medium text-gray-700">Nombre de Usuario</label>
          <input class="mb-4" id="login-username" type="text" pInputText
          />
        </div>
        <div class="flex flex-col">
          <label for="login-password" class=" block text-m font-medium text-gray-700">Contraseña</label>
          <p-password id="login-password" type="password" [feedback]="false"
                      styleClass="p-password p-component p-inputwrapper p-input-icon-right mb-4"
                      [style]="{'width':'100%'}"
                      [inputStyle]="{'width':'100%'}" [toggleMask]="true"></p-password>
        </div>
        <p-button
          [style]="{'width':'80%', 'margin-top':' 3rem', 'margin-left':'2rem'}"
          type="submit"
          label="Iniciar Sesión"
          icon="pi pi-user"
          styleClass="icon-button"
        ></p-button>
      </div>
    </div>
    <div  class="flex flex-col items-center p-4" *ngIf="activeForm=='register'">
      <h2 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-800">Registro</h2>
      <h2 class="mb-9 text-center text-l font-bold tracking-tight text-gray-600">¡Ayuda y diviértete al mismo tiempo!</h2>
      <div  class="w-full space-y-4">

        <div  class="flex flex-col">
          <label for="register-username" class="block text-m font-medium text-gray-700">Nombre de Usuario</label>
          <input type="text" id="register-username" pInputText
                 class="p-2 border border-gray-300 rounded"
                 [(ngModel)]="username"
                 (ngModelChange)="validateUsername()"

                 />
          <p-message
            *ngIf="usernameError"
            class=" text-red-600"
            [text]="usernameError"
          >
          </p-message>
        </div>


        <div class="flex flex-col">
          <label class=" block text-m font-medium text-gray-700">Contraseña</label>
          <p-password [(ngModel)]="password" [toggleMask]="true" (ngModelChange)="validatePassword()"
                      class="text-red-600"
                      styleClass="w-full"
                      [inputStyle]="{'width':'100%'}"
                      weakLabel="Fortaleza baja"
                      mediumLabel="Fortaleza media"
                      strongLabel="Fortaleza alta"
          />
          <p-message
            *ngIf="submitted && !validatePassword()"
            class="text-red-600"
            [text]="countryError">
          </p-message>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="flex flex-col">
                    <label for="mail" class="block text-m font-medium text-gray-700">Email</label>
                    <input
                      type="email"
                      id="mail"
                      pInputText
                      class="p-2 border border-gray-300 rounded"
                      [(ngModel)]="email"
                      (ngModelChange)="validateEmail()"

                    />
          <p-message
            *ngIf="emailError"
            class="text-red-600"
            [text]="emailError">
          </p-message>

        </div>

        <div class="flex flex-col">
          <label for="birthdate" class="block  text-m font-medium text-gray-700">
            Fecha de nacimiento
          </label>
          <input
            type="date"
            id="birthdate"
            class="border rounded-md border-gray-300 p-2"
            [(ngModel)]="birthdate"
            (ngModelChange)="validateBirthdate()"
          >
          <p-message
            *ngIf="birthdateError"
            class="text-red-600"
            [text]="birthdateError">
          </p-message>

        </div>
        </div>


        <div  class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="">
            <label class="block text-m font-medium text-gray-700">País</label>
            <p-dropdown [style]="{'width': '100%'}" [options]="countries"
                        optionValue="code" optionLabel="name"
                        [(ngModel)]="user.country"
                         placeholder="Selecciona un país" (onChange)="countryChange()"
                        [filter]="true" filterBy="name">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <p-message
              *ngIf="submitted && !validateCountry()"
              class="text-red-600"
              [text]="countryError">
            </p-message>

          </div>
          <div class="  ">
            <label class="block text-m font-medium-text text-gray-700">Provincia</label>
            <p-dropdown [style]="{'width': '100%'}" [options]="provinces"
                        optionLabel="name"
                        optionValue="name"
                        [ngModel]="user.province"
                        [filter]="true" filterBy="name">
                        placeholder="Selecciona una provincia" [disabled]="provinces.length==0">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <p-message
              *ngIf="submitted && !validateProvince()"
              class="text-red-600"
              [text]="provinceError">
            </p-message>
          </div>


        </div>

        <p-button  [style]="{'width':'80%', 'margin-top':' 3rem', 'margin-left':'2rem'}"
                   type="submit"
                   (onClick)="onSubmit()"
                   label="Registrarse"
                   icon="pi pi-user"
                   styleClass="icon-button"></p-button>
      </div>
    </div>
  </div>
</div>





