@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html, body {
  overflow-x: hidden;
}

.form-bg {
  background: url('assets/gg-form-background-low-quality.png') no-repeat center center fixed;
  background-size: cover;
}

.default-bg {
  background: url('assets/gg-default-background-low-quality.png') no-repeat center center fixed;
  background-size: cover;
}

.p-accordion-tab.p-accordion-tab-active {
  .p-toggleable-content {
    height: auto !important;
    overflow: inherit !important;
  }
}

.p-accordion-tab:not(.p-accordion-tab-active) {
  .p-toggleable-content {
    height: 0 !important;
    overflow: hidden !important;
  }
}

.p-panel-content {
  padding: 0 !important;
  border: none !important;
}

.delete-border-radius-bottom-of-child > div {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
