<div class="flex justify-center items-center p-2 box-border">
  <div class="bg-white rounded-2xl p-5 shadow-md w-full max-w-[1200px] h-auto box-border">
    <p-stepper [(activeStep)]="stepActive">
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <p-button (click)="onClick.emit()" [outlined]="index > stepActive" [severity]="index <= stepActive ? 'primary' : 'secondary'">
            {{index + 1}}
          </p-button>
        </ng-template>
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-col gap-6">
            <div>
              <h3 class="text-md font-semibold mb-2">Nombre del evento</h3>
              <input type="text" placeholder="Escribe aquí un nombre corto y descriptivo para tu evento" pInputText class="p-component w-full"  maxlength="50" [(ngModel)]="event.name"/>
            </div>
            <div>
              <h3 class="text-md font-semibold mb-2">Causa</h3>
              <p-dropdown [style]="{'width': '100%'}" [options]="causes" [(ngModel)]="event.idCause" optionValue="id" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Selecciona una causa">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <a href="#" class="text-right block mt-2 text-blue-500">¿No encuentras tu causa? Creala aquí</a>
            </div>
            <div class="flex gap-4 w-full lg:grid grid-cols-[2fr_2fr_3fr] flex flex-col">
              <div class="flex flex-col">
                <h3 class="text-md font-semibold mb-2">País</h3>
                <p-dropdown [style]="{'width': '100%'}" [options]="countries" [(ngModel)]="country"  [showClear]="false" optionLabel="name" [filter]="true" filterBy="name"  placeholder="Selecciona un país" (onChange)="countryChange()">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="flex flex-col">
                <h3 class="text-md font-semibold mb-2">Provincia</h3>
                <p-dropdown [style]="{'width': '100%'}" [options]="provinces" [(ngModel)]="event.province" [showClear]="false" optionValue="name" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false" placeholder="Selecciona una provincia" [disabled]="provinces.length==0">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="flex flex-col">
                <h3 class="text-md font-semibold mb-2">Dirección</h3>
                <input type="text" placeholder="¿Dónde se va a producir el evento?" pInputText class="p-component w-full" maxlength="100" [(ngModel)]="event.address"/>
              </div>
            </div>
            <div>
              <h3 class="text-md font-semibold mb-2">Descripción Detallada</h3>
              <textarea placeholder="¿De qué trata el evento?" pInputTextarea [autoResize]="true" class="w-full resize-none" rows="5" [(ngModel)]="event.description"></textarea>
            </div>
          </div>
          <div class="flex pt-4 justify-end">
            <p-button label="Siguiente" icon="pi pi-arrow-right" class="hidden sm:block" iconPos="right" [text]="true" (onClick)="nextCallback.emit()" />
            <p-button icon="pi pi-arrow-right" iconPos="right" class="block sm:hidden" (onClick)="nextCallback.emit()" />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <p-button (click)="onClick.emit()" [outlined]="index > stepActive" [severity]="index <= stepActive ? 'primary' : 'secondary'">
            {{index + 1}}
          </p-button>
        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="grid gap-4 w-full grid-cols-1 lg:grid-cols-5">
            <div class="bg-gray-50 p-4 rounded-lg col-span-1 lg:col-span-2 h-full flex flex-col">
              <div class="flex items-center mb-4">
                <i class="pi pi-ticket mr-2"></i>
                <h3 class="text-md font-semibold">Ticket</h3>
              </div>
              <div class="flex flex-col gap-4 justify-between flex-grow">
                <div class="flex flex-col">
                  <div class="flex flex-row items-center gap-1.5">
                    <h4 class="text-sm font-semibold mb-2">Precio del ticket</h4>
                    <i class="pi pi-question-circle text-sm cursor-pointer" pTooltip="Se refiere al precio individual para asistir al evento"></i>
                  </div>
                  <p-inputNumber [min]="0.00" [max]="1000.00" [step]="0.01" currency="EUR" class="w-full" styleClass="w-full" inputStyleClass="w-full" [(ngModel)]="event.ticketPrice" [mode]="'currency'"></p-inputNumber>
                </div>
                <div class="flex flex-col">
                  <div class="flex flex-row items-center gap-1.5">
                    <h4 class="text-sm font-semibold mb-2">Plazas Máximas</h4>
                    <i class="pi pi-question-circle text-sm cursor-pointer" pTooltip="Se refiere al número máximo de tickets que se pueden vender en el evento"></i>
                  </div>
                  <p-inputNumber [min]="0" [max]="1000000" [step]="1" suffix=" personas" class="w-full" styleClass="w-full" inputStyleClass="w-full" [(ngModel)]="event.capacity"/>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 p-4 rounded-lg col-span-1 lg:col-span-3 h-full flex flex-col">
              <div class="flex items-center mb-4">
                <i class="pi pi-calendar mr-2"></i>
                <h3 class="text-md font-semibold">Calendario</h3>
              </div>
              <div class="flex flex-col gap-4 justify-between flex-grow">
                <div>
                  <h4 class="text-sm font-semibold mb-2">Inicio</h4>
                  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
                    <div>
                      <h5 class="text-xs font-semibold mb-2">Fecha</h5>
                      <input type="date" pInputText class="p-component w-full" [min]="minStartDateDate" [(ngModel)]="startDateDate" (change)="dateAndTimeValidator($event)"/>
                    </div>
                    <div>
                      <h5 class="text-xs font-semibold mb-2">Hora</h5>
                      <input type="time" pInputText class="p-component w-full" [(ngModel)]="startDateHour" (change)="dateAndTimeValidator($event)"/>
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <h4 class="text-sm font-semibold mb-2">Fin</h4>
                  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
                    <div>
                      <h5 class="text-xs font-semibold mb-2">Fecha</h5>
                      <input type="date" pInputText class="p-component w-full" [min]="startDateDate" [(ngModel)]="endDateDate" (change)="dateAndTimeValidator($event)"/>
                    </div>
                    <div>
                      <h5 class="text-xs font-semibold mb-2">Hora</h5>
                      <input type="time" pInputText class="p-component w-full" [(ngModel)]="endDateHour" (change)="dateAndTimeValidator($event)"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex pt-4 justify-between">
            <p-button label="Atras" icon="pi pi-arrow-left" class="hidden sm:block" [text]="true" (onClick)="prevCallback.emit()" />
            <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" class="hidden sm:block" [text]="true" (onClick)="nextCallback.emit()" />
            <p-button icon="pi pi-arrow-left" class="block sm:hidden" (onClick)="prevCallback.emit()" />
            <p-button icon="pi pi-arrow-right" iconPos="right" class="block sm:hidden" (onClick)="nextCallback.emit()" />
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <p-button (click)="onClick.emit()" [outlined]="index > stepActive" [severity]="index <= stepActive ? 'primary' : 'secondary'">
            {{index + 1}}
          </p-button>
        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <div class="flex flex-column h-auto">
            <div class="flex-auto flex justify-content-center align-items-center font-medium">
              <uc-config ctx-name="my-uploader" removeCopyright="true" source-list="local, url, gdrive" pubkey="d1b9085e489afdaa5ef9"></uc-config>
              <uc-file-uploader-regular ctx-name="my-uploader" class="uc-light uc-green"></uc-file-uploader-regular>
              <uc-upload-ctx-provider ctx-name="my-uploader" #ctxProvider class="uc-light uc-green"></uc-upload-ctx-provider>
            </div>
          </div>
          <div class="flex pt-4 justify-between">
            <p-button label="Back" icon="pi pi-arrow-left" class="hidden sm:block" [text]="true" (onClick)="prevCallback.emit()"/>
            <p-button icon="pi pi-arrow-left" class="block sm:hidden" (onClick)="prevCallback.emit()"/>
            <p-button label="Guardar" icon="pi pi-check" (onClick)="onSubmit()"/>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>
<p-toast></p-toast>
